<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Advanced Usage</title>
	</head>
	<script src="vue_local.js"></script>
	
	<body>
		<h3>递归组件</h3><hr>
		<div id="app">
		{{ count }}
			<child-component :count='1'></child-component>
			
		</div>
		<script>
			Vue.component('child-component', {
				name: 'child-component',
				template: '\
				<div class="clild">\
					{{ count }}\
					<child-component\
						:count="count+1"\
						v-if="count < 3"></child-component>\
				</div>',
				props: {
					count: {
						type: Number,
						default: 1
					}
				}
			});
			
			var app = new Vue({
				el: '#app',
			})
			
			
		</script>
		
		<h3>内联模版</h3><hr>
		<div id="iapp">
			<child-component inline-template>
				<div>
					<h4>在父组件中定义自组件的模版</h4>
					<p>{{ message }}</p>
					<p>{{ msg }}</p>
				</div>
			</child-component>
		</div>
		<script>
			Vue.component('child-component', {
				data: function(){
					return {
						msg: '在子组件中声明的数据'
					}
				}
			});
			
			var iapp = new Vue({
				el: '#iapp',
				data: {
					message: '在父组件中声明的数据'
				}
			})
			
			
		</script>
		
		<h3>动态组件</h3><hr>
		<div id="dapp">
			<component :is="currentView"></component>
			<button type="button" @click="handleChangeView('A')">切换到A</button>
			<button type="button" @click="handleChangeView('B')">切换到B</button>
			<button type="button" @click="handleChangeView('C')">切换到C</button>
		</div>
		<script>
			
			var app = new Vue({
				el: '#dapp',
				components: {
					comA: {
						template: '<div>组件A</div>'
					},
					comB: {
						template: '<div>组件B</div>'
					},
					comC: {
						template: '<div>组件C</div>'
					}
				},
				data: {
					currentView: 'comA',
				},
				methods: {
					handleChangeView: function(component){
						this.currentView = 'com' + component;
					}
				}
			})
		</script>
		
		<h3>异步组件</h3><hr>
		<div id="asapp">
			
			<as-component></as-component>
			
		</div>
		<script>
			
			Vue.component('as-component', function(resolve, reject){
				window.setTimeout(function(){
					resolve({
						template: '<div>我是异步渲染的</div>'
					});
				}, 2000);
			});
			
			var asapp = new Vue({
				el: '#asapp',
				
			})
			
			
		</script>
		
		
	</body>
</html>
