<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>7其他</title>
	</head>
	<script src="vue_local.js"></script>
	<body>
		
		<div id="app">
			<div id="div" v-if="showDiv" >
				这是一段文本
			</div>
			<button type="button" @click="getText">获取 div 内容</button>
		</div>
		<script>
			var app = new Vue({
				el: '#app',
				data: {
					showDiv: true
				},
				methods: {
					getText: function(){
						this.showDiv = true;
						var text = document.getElementById('div').innerHTML;
						console.log(text);
						
						// 使用下面的方法
						// this.$nextTick(function(){
						// 	var text = document.getElementById('div').innerHTML;
						// 	console.log(text);
						// })
					}
				}
			})
			
			
		</script>
		
		<h3>X-template</h3><hr>
		<div id="xapp">
			
			<my-component></my-component>
			<script type="text/x-template" id='my-component'>
				<div>这里是组件内容</div>
			</script>
			
		</div>
		<script>
			Vue.component('my-component', {
				template: '#my-component',
			})
			var xapp = new Vue({
				el: '#xapp'
			})
		</script>
		
		<h3>挂载实例</h3><hr>
		
		<div id="mapp"></div>
		
		<script>
			
			var MyComponent = Vue.extend({
				template: '<div>Hello {{ name }}</div>',
				data: function(){
					return {
						name: 'Aresn'
					}
				}
			});
			new MyComponent().$mount('#mapp');
			
		</script>
		
		
	</body>
</html>
