<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SLOT</title>
	</head>
	<script src="vue_local.js"></script>
	<body>
		
		<h3>单slot</h3><hr>
		<div id="app">
			<child-component>
				<p>分发的内容1</p>
				<p>分发的内容2</p>
				
				
			</child-component>
		</div>
		
		<script>
			
			Vue.component('child-component', {
				template: '\
				<div>\
					<slot>\
						<p>如果父组件没有插入，显示此条消息</p>\
					</slot>\
				</div>'
			});
			
			var app = new Vue({
				el: '#app',
			})
			
			
		</script>
		
		<h3>具名SLOT</h3><hr>
		<div id="sapp">
			<my-component>
				<h2 slot="header">标题</h2>
				<p>正文内容</p>
				<p>更多</p>
				<div slot='footer'>底部信息</div>
			</my-component>
		</div>
		<script type="text/javascript">
				
			Vue.component('my-component',{
				template: '\
				<div class="container">\
					<div class="header">\
						<slot name="header"></slot>\
					</div>\
					<div class="main">\
						<slot></slot>\
					</div>\
					<div name="footer">\
						<slot name="footer"></slot>\
					</div>\
				</div>\
				</div>',
				mounted: function(){
					var header = this.$slots.header;
					var main = this.$slots.main;
					var footer = this.$slots.footer;
					console.log(footer);
					console.log(footer[0].
					);
				}
			});
			
			var sapp = new Vue({
				el: '#sapp',
			})
			
			
				
				
		</script>
		
		<h3>作用域SLOT</h3><hr>
		<div id="scopeapp">
			
			<child-component>
				<template scope='props'>
					<p>来自父组件</p>
					<p>{{ props.msg }}</p>
				</template>
				
				
			</child-component>
			
		</div>
		
		<script>
			
			Vue.component('child-component', {
				template: '\
				<div class="container">\
					<slot msg="来自子组件" ></slot>\
				</div>\
				'
			});
			
			var scopeapp = new Vue({
				el: '#scopeapp',
			})
			
		</script>
		
		
	</body>
</html>
