<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>vue 示例</title>
	</head>
	<body>
		<div id="app">
			<input type="text" name="" id="" v-model="name" placeholder="Your Name">
			<!-- <h1> Hello, {{ name }} </h1> -->
			<h2>{{ var_date}}</h2>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: '#app',
				data: {
					// name: '',
					var_date: new Date()
				},
				mounted: function(){
					var _this = this;
					this.timer = setInterval(function(){
						_this.var_date = new Date();
					}, 1000);
				},
				beforeDestroy: function(){
					if(this.timer){
						clearInterval(this.timer);
					}
				}
				
				
			})
		</script>
		
	</body>
</html>
